<div layout="row" layout-wrap flex>
    <md-input-container>
        <label>Initiative</label>
        <input required type="number" name="initiative" ng-model="$ctrl.combatant.combat.initiative">
        <div ng-messages="$ctrl.pform.initiative.$error" ng-if="$ctrl.pform.initiative.$touched">
            <div ng-message="required" ng-show="$ctrl.pform.initiative.$error">You need an initiative</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Current HP</label>
        <input required type="number" name="hp" ng-model="$ctrl.combatant.combat.hp">
        <div ng-messages="$ctrl.pform.hp.$error" ng-if="$ctrl.pform.hp.$touched">
            <div ng-message="required" ng-show="$ctrl.pform.hp.$error">You need hp</div>
        </div>
    </md-input-container>
</div>