<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>Initiative</span>
            </h3>
        </div>
    </md-toolbar>
    <md-button ng-click="encounterCtrl.addCombatant($event)" class="md-raised">
        <md-icon md-svg-src="content:add_box" class="md-primary"></md-icon>
        Add combatant
    </md-button>
    <md-button ng-click="encounterCtrl.saveParty($event)" class="md-raised">
        <md-icon md-svg-src="content:add_box" class="md-primary"></md-icon>
        Party Management
    </md-button>
    <md-button ng-click="encounterCtrl.next($event)" class="md-raised">
        <md-icon md-svg-src="av:play_circle_outline" class="md-primary"></md-icon>
        Next
    </md-button>
    <div layout="row" class="combatant md-primary" ng-class="{'active':$index === encounterCtrl.activeIndex}" ng-repeat="combatant in encounterCtrl.combatants | orderBy:['-combat.initiative', '-data.stats.dex']">
        <div layout="column" layout-fill>
            <div layout="row" layout-fill class="info">
                <span class="name">{{combatant.data.name}}&nbsp;</span>
                <span ng-class="{'hp-warning': combatant.combat.hp <= 0}" class="hp">({{combatant.combat.hp}}<span ng-show="combatant.data.maxhp">/{{combatant.data.maxhp}}</span>)&nbsp;</span>
                <span class="ac" ng-show="combatant.data.ac">AC: {{combatant.data.ac}},&nbsp;</span>
                <span class="init" ng-show="combatant.combat.initiative">Initiative: {{combatant.combat.initiative}}</span>
            </div>
            <div layout="row" class="stats" ng-show="combatant.data.stats">
                <span ng-repeat="(key, stat) in combatant.data.stats" ng-show="stat>=0" class="stat">{{key | uppercase}}: {{stat}}<sup>({{encounterCtrl.calcMod(stat)}})</sup></span>
            </div>
        </div>
        <div layout="row" layout-align="center center" layout-fill class="hpmod">
            <md-button class="md-raised md-primary" ng-click="encounterCtrl.modHP(combatant, damage);damage=undefined;">Heal</md-button>
            <input style="vertical-align:middle;width:60px;" type="number" ng-model="damage">
            <md-button class="md-raised md-warn" ng-click="encounterCtrl.modHP(combatant, -damage);damage=undefined;">Damage</md-button>
        </div>
        <div layout="row" layout-align="end center" layout-fill>
            <div class="controls">
                <md-icon ng-click="encounterCtrl.editCombatant($event, combatant)" md-svg-src="editor:mode_edit"></md-icon>
                <md-icon ng-click="encounterCtrl.removeCombatant($event, combatant)" md-svg-src="content:remove_circle_outline"></md-icon>
            </div>
        </div>
    </div>
</md-content>