<md-dialog class="party-dialog">
    <form name="pform">
        <md-dialog-content>
            <h2 md-title>Party</h2>
            <div ng-show="state === 'create'">
                <md-input-container>
                    <label>Party</label>
                    <md-select ng-init="selParty = newParty" ng-model="selParty" ng-change="partyname = selParty.name">
                        <md-option ng-value="newParty">--- New Party ---</md-option>
                        <md-option ng-repeat="party in parties" ng-value="party">
                            {{party.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Party Name</label>
                    <input required type="text" name="partyname" ng-model="partyname">
                    <div ng-messages="pform.partyname.$error" ng-if="pform.partyname.$touched">
                        <div ng-message="required" ng-show="pform.partyname.$error">You have to name your party</div>
                    </div>
                </md-input-container>
            </div>
            <div ng-if="state === 'add'">
                <div class="md-whiteframe-2dp" ng-repeat="combatant in saveParty.combatants">
                    <span style="font-weight:bold;">{{combatant.data.name}}</span>
                    <combat-info-form combatant="combatant"></combat-info-form>
                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row" ng-show="state === 'create'">
            <md-button ng-disabled="selParty === newParty" class="md-raised md-warn" ng-click="delete()">Delete</md-button>
            <md-button ng-disabled="selParty === newParty" class="md-raised md-primary" ng-click="editPartyForEncounter($event)">Add To Encounter</md-button>
            <md-button ng-disabled="!pform.$valid" type="submit" class="md-raised md-primary" ng-click="save()">{{selParty !== newParty ? 'Overwrite' : 'Save'}}</md-button>
            <md-button type="reset" class="md-raised" ng-click="cancel()">Cancel</md-button>
        </div>
        <div class="md-actions" layout="row" ng-if="state === 'add'">
            <md-button type="submit" ng-disabled="!pform.$valid" class="md-raised md-primary" ng-click="addPartyToEncounter()">Add</md-button>
            <md-button type="reset" class="md-raised" ng-click="cancel()">Cancel</md-button>
        </div>
    </form>
</md-dialog>